[[source]]
url = "https://pypi.org"
verify_ssl = true
name = "pypi"

[packages]
scipy = ">=1.0.0"
hansel = ">=2.0.1"
scikit_learn = ">=0.19.1"
matplotlib = "==2.1.0"
nilearn = ">=0.4.0"
kaptan = "==0.5.9"
nibabel = ">=2.2.1"
nipype = ">=1.0.2"
boyle = ">=0.2.0"
pandas = ">=0.22.0"
click = ">=6.7"
nipy = ">=0.4.2"
pydicom = ">=1.0.1"
numpy = ">=1.13.1"
xlwt = ">=1.3.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pdbpp = "*"
watchdog = "*"
better-exceptions = "*"
"flake8" = "*"
bumpversion = "*"
