[packages]

numpy = "*"
"-e ." = "*"

[dev-packages]

pytest = "*"
pytest-cov = "*"
pdbpp = "*"
pipenv-tools = "*"
watchdog = "*"
better-exceptions = "*"
"flake8" = "*"
bumpversion = "*"
yapf = "*"
gitchangelog = "*"
pystache = "*"
