numpy>=1.12
scipy>=0.19
hansel>=0.9.5
matplotlib==2.0.0
nibabel==2.1.0
nilearn==0.3.0b1
git+https://github.com/nipy/nipy.git@e84acca16fe392722c4b091e8501856a51aa46a4#egg=nipy
git+https://github.com/nipy/nipype.git@4f08c9abd6744f2ef346ebc524590ed1aa0abf75#egg=nipype
git+https://git@github.com/neurita/kaptan.git#egg=kaptan
git+https://github.com/moloney/dcmstack@c12d27d2c802d75a33ad70110124500a83e851ee#egg=dcmstack
git+https://github.com/darcymason/pydicom@1d525bea082ecc7fe70dfa15b38d132db7cfa0c7#egg=pydicom
git+https://github.com/neurita/boyle@4bec0d541d5b582483eb91009858180675f7e7a5#egg=boyle
