nibabel>=2.0.0
hansel>=0.5.4
nilearn>=0.2.4
git+https://github.com/emre/kaptan.git@master#egg=kaptan
git+https://github.com/nipy/nipype@master#egg=nipype
git+https://github.com/neurita/boyle@master#egg=boyle
git+https://github.com/moloney/dcmstack#egg=dcmstack
